<% const views = '../' %>
<%- include(views+'partials/header4'); %>

<div id="auth">
  <div class="container">

      <a class="btn btn-info btn-lg m-3" href="/auth/google">Sign in with Google</a>

  </div>
</div>

<%- include(views+'partials/footer4'); %>
