<% const views = '../' %>
<%- include(views+'partials/header4'); %>

<div id="auth">
  <div class="container">
    <h1 class="text-center pt-3">Please Sign In</h1>

      <a class="btn btn-info btn-lg m-1" href="/auth/google">Sign in with Google</a>

  </div>
</div>

<%- include(views+'partials/footer4'); %>
