<!-- Footer -->
	<section id="footer">
		<div class="footer-background-img">
			<div class="container">

				<div class="row text-center">
					<div class="col">
						<div class="pb-2 mt-4 mb-2">
							<h2 class="text-white section-title">McMaster Baja Racing</h2>
						</div>
					</div>
				</div>

				<div class="row text-center text-xs-center text-sm-left text-md-left">
					<div class="col-xs-12 col-sm-4 col-md-4">
						<h5>Site Navigation</h5>
						<ul class="list-unstyled quick-links">
							<li><a href="/"><i class="fa fa-angle-double-right"></i>Home</a></li>
							<li><a href="/recruitment"><i class="fa fa-angle-double-right"></i>Recruitment</a></li>
							<li><a href="/sponsors"><i class="fa fa-angle-double-right"></i>Sponsors</a></li>
							<li><a href="/gallery"><i class="fa fa-angle-double-right"></i>Gallery</a></li>
							<li><a href="/login"><i class="fa fa-angle-double-right"></i>Member Login</a></li>
						</ul>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4">
						<h5>Location</h5>
						<ul class="list-unstyled quick-links">
							<li><a href="https://goo.gl/maps/ZahXpHU4YCfgSiwa9"><i class="fa fa-location-arrow"></i>1280 Main Street West

								<p class="mb-0">John Hodgins Engineering</p>
								<p class="mb-0">Building Room A315</p>
								<p class="mb-0">Hamilton, ON L8S 4L7</p>
							</a></li>
						</ul>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4">
						<h5>Contact Us</h5>
						<ul class="list-unstyled quick-links">
							<li id="phone"><a href="tel:+1-905-555-5555"><i class="fa fa-phone"></i>Phone: (905) 555 - 5555</a></li>
							<li id="email"><a href="mailto:mcmasterbaja@gmail.com"><i class="fa fa-envelope"></i>Email: mcmasterbaja@gmail.com</a></li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
						<ul class="list-unstyled list-inline social text-center">
							<li class="list-inline-item"><a href="https://www.facebook.com/McMasterBaja/"><i class="fa fa-facebook fa-lg"></i></a></li>
							<li class="list-inline-item"><a href="https://www.instagram.com/mcmasterbaja/?hl=en"><i class="fa fa-instagram fa-lg"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center">
						<p class="h6 text-white">&copy All right Reversed.<a class="ml-2" href="/" target="_blank">McMaster Baja Racing</a></p>
					</div>
				</div>
			</div>
		</div>

	</section>
<!-- ./Footer -->



    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Brighter World JS -->
    <script src="https://documents.mcmaster.ca/www/cdn/js/1.0/mcm-bw.js"></script>
		<!-- Optional JavaScript -->
    <script src="/javascript/header4.js" crossorigin="anonymous"></script>
		<script src="/javascript/gallery.js" crossorigin="anonymous"></script>
  </body>
</html>
