<!-- Footer -->
<footer class="page-footer font-small teal pt-4 background-grey">

  <!-- Footer Text -->
  <div class="container-fluid text-center text-md-left text-white">
    <div class="row"> <!-- Grid row -->
      <div class="col-md-3 mt-md-0 mt-3"> <!-- Grid column -->
        <h5 class="text-uppercase font-weight-bold text-white">McMaster Baja Racing</h5> <!-- Content -->
      </div>

      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none pb-3">


      <div class="col-md-3 mb-md-0 mb-3"> <!-- Grid column -->

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold text-white">Location</h5>
        <p class="mb-0">1280 Main Street West</p>
        <p class="mb-0">John Hodgins Engineering</p>
        <p class="mb-0">Building Room A315</p>
        <p class="mb-0">Hamilton, ON L8S 4L7</p>

      </div> <!-- Grid column -->

      <div class="col-md-3 mb-md-0 mb-3"> <!-- Grid column -->

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold text-white">Office Hours</h5>
        <p class="mb-0">Monday - Friday</p>
        <p class="mb-0">8:30 AM - 4:30 PM</p>

      </div> <!-- Grid column -->

      <div class="col-md-3 mb-md-0 mb-3"> <!-- Grid column -->

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold text-white">Contact Information</h5>
        <p class="mb-0"><strong>Phone: </strong>(905) 555 5555</p>
        <p class="mb-0"><strong>Email: </strong>example@mcmaster.ca</p>

      </div> <!-- Grid column -->

    </div> <!-- Grid row -->
  </div> <!-- Footer Text -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 text-white">© 2019 Copyright:
    <a class="text-white" href="/">McMaster Baja Racing</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->





    <!-- Optional JavaScript -->
    <script src="/javascript/header4.js" crossorigin="anonymous"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Brighter World JS -->
    <script src="https://documents.mcmaster.ca/www/cdn/js/1.0/mcm-bw.js"></script>
  </body>
</html>
