<!--
===================================================
##                   LUKA SAMAC                  ##
##                samacl@mcmaster.ca             ##
===================================================
 -->
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Brighter World CSS -->
    <link rel="stylesheet" href="https://documents.mcmaster.ca/www/cdn/css/1.0/mcm-bw.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- jQuery CDN  -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Brighter World Fonts -->
    <style>
      @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i|Roboto:300,300i,700,700i');
    </style>

    <!-- Site Styles -->
    <link href="/stylesheets/main.css" rel="stylesheet" media="screen">
    <link href="/stylesheets/header.css" rel="stylesheet" media="screen">
    <link href="/stylesheets/footer.css" rel="stylesheet" media="screen">
    <link href="/stylesheets/externalviews.css" rel="stylesheet" media="screen">
    <link href="/stylesheets/expenseReports.css" rel="stylesheet" media="screen">

    <title>McMaster Baja Racing</title>
  </head>
  <body>

    <header id="mcmaster-header">
      <div class="container">
        <div class="row">

          <div class="col-4">
            <div class="baja-logo">
              <a href="/" id="baja-brand">
        				<img src="/images/McMaster_Baja_Logo.svg">
        				<span class="sr-only">Baja logo</span>
        			</a>
            </div>
          </div>

          <div class="col-4">
            <div class=" d-none d-lg-block">
              <h2 class="text-center d-block"><%= header_title %></h2>
            </div>
          </div>

          <div class="col-4">
            <div class="mcmaster-logo">
        			<a href="https://www.mcmaster.ca" id="mcmaster-brand">
        				<img src="https://brand.mcmaster.ca/app/themes/macsites-theme/img/logo.svg">
        				<span class="sr-only">McMaster logo</span>
        			</a>
      	    </div>
          </div>

        </div>
      </div>
    </header>


    <nav class="navbar navbar-expand-lg navbar-dark navbar-site sticky-top0 nav-fill0 navbar-lg0">
      <div class="container">
       <button class="navbar-toggler site-toggler collapsed" type="button" data-toggle="collapse" data-target="#siteMenu" aria-controls="siteMenu" aria-expanded="false" aria-label="Toggle navigation">
         <i class="fa fa-bars"></i>
       </button>
        <div class="collapse navbar-collapse" id="siteMenu">

          <ul class="nav navbar-nav mr-auto">
            <li class="nav-item" id="home-li">
              <a class="nav-link" id="home-a" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/recruitment">Recruitment</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/sponsors">Sponsors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/albums">Albums</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <% if(!currentUser){ %>
                  Members
                <% } else { %>
                  Signed in as <%= currentUser.firstName + " " + currentUser.lastName %>
                <% } %>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <% if(!currentUser){ %>
                  <a class="dropdown-item" href="/auth">Login</a>
                <% } else { %>
                  <a class="dropdown-item" href="/auth/logout">Logout</a>
                  <a class="dropdown-item" href="/users">Users</a>
                  <a class="dropdown-item" href="/expenseReports">Expense Reports</a>
                <% } %>
              </div>
            </li>
          </ul>

        </div>
      </div>
    </nav>


    <% if(error && (error.length > 0)){ %>
      <div class="container">
        <div class="alert alert-danger mt-3 mb-1" role="alert">
          <h5 class="p-1"><%= error %></h5>
        </div>
      </div>
    <% } %>

    <% if(success && (success.length > 0)){ %>
      <div class="container">
        <div class="alert alert-success mt-3 mb-1" role="alert">
          <h5 class="p-1"><%= success %></h5>
        </div>
      </div>
    <% } %>

    <main class="page-body">
