<select class="form-control" name="subteam[]" placeholder="Subteam">
  <option value="" selected>-- Same as above --</option>
  <option value="Business/Sales">Business/Sales</option>
  <option value="Chassis">Chassis</option>
  <option value="Controls">Controls</option>
  <option value="DAQ">DAQ</option>
  <option value="Drivetrain">Drivetrain</option>
  <option value="Ergonomics">Ergonomics</option>
  <option value="General Team Items - NOT MATERIAL">General Team Items - NOT MATERIAL</option>
  <option value="Suspension">Suspension</option>
  <option value="2016">2016</option>
  <option value="2017">2017</option>
  <option value="2018">2018</option>
</select>
