<% include ../partials/header %>

<form class="" action="/" method="post">

  <label>
    Name:
    <input type="text" name="name" placeholder="Name">
  </label>

  <table style="width:100%">
    <tr>
      <th>Item</th>
      <th>Category</th>
      <th>Subteam</th>
      <th>Store/Company</th>
      <th>CAD/USD</th>
      <th>Subtotal</th>
      <th>Tax</th>
      <th>Shipping</th>
      <th>Total</th>
    </tr>
    <% include ../partials/expenseReportBody %>
  </table>
  <input type="submit">
</form>

<% include ../partials/footer %>
