<% const views = './' %>
<%- include(views+'partials/header4'); %>

<div class="p-3">
  <div class="row row-eq-height">
    <div class="col-md-5">
        <a class="card card-shadow card-link-floater" href="expenseReports">
          <div class="card-img-mask card-img-mask-top">
                 <!-- <img src="https://brand.mcmaster.ca/wp-content/images/img-sample.jpg" alt="Duotone image of McMaster University Campus"> -->
          </div>
          <div class="card-body">
                 <h3 class="card-title">Expense Reports</h3>
                 <h4 class="card-subtitle">Just a link</h4>
                 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                 <span class="card-link">Card link</span>
          </div>
       </a>
     </div>
  </div>
</div>

<%- include(views+'partials/footer4'); %>
