<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Brighter World CSS -->
    <link rel="stylesheet" href="https://documents.mcmaster.ca/www/cdn/css/1.0/mcm-bw.css">
  <!-- Site Styles -->
  <link href="css/site.css" rel="stylesheet" media="screen">
  <!-- Brighter World Fonts -->
  <style>
    @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i|Roboto:300,300i,700,700i');
  </style>
    <title></title>
 <!-- Insert Brighter World Header and Footer Script Here -->
 <!-- https://documents.mcmaster.ca/www/brighterworld/builder/ -->
 <script>
  (function () {
    /* Load Javascript Object */
    var fh = document.createElement('script');
    fh.type = 'text/javascript';
    fh.async = true;
    fh.src = 'https://documents.mcmaster.ca/www/brighterworld/headersfooters.js';
    var fhs = document.getElementsByTagName('script')[0];

    /*Insert javascript at top of dom */
    fhs.parentNode.insertBefore(fh, fhs);

    /*loaded successful */
    fh.addEventListener('load', function(event){
      var headFoot = new footerheader();
      headFoot.setRoboto();

      headFoot.setTitle({title:'McMaster Baja Racing',titleUrl:'http://www.mcmasterbaja.com/'});
      headFoot.setSkip([{"url" : "#mcmaster-nav", "text":"Skip to McMaster Navigation"},{"url":"#navbarsec", "text":"Skip to Site Navigation"},{"url":"#content", "text":"Skip to main content"}]);
      headFoot.initialize();
      headFoot.setSearchCustom('http://www.mcmasterbaja.com/');
    })
  })();
</script>
  </head>
  <body>

     <div class="row row-eq-height">
     <div class="col-md-6">
          <div class="card card-link-floater card-shadow">
               <div class="card-img-mask card-img-mask-top">
                    <img src="https://brand.mcmaster.ca/wp-content/images/img-sample.jpg" alt="Duotone image of McMaster University Campus">
               </div>
          <div class="card-body">
               <h3 class="card-title">Typical Card</h3>
               <h4 class="card-subtitle">Card subtitle</h4>
               <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
               <a href="#" class="card-link">Another link</a>
          </div>
     </div>
</div>

<div class="col-md-6">
     <a class="card card-shadow card-link-floater" href="expenseReports">
          <div class="card-img-mask card-img-mask-top">
               <img src="https://brand.mcmaster.ca/wp-content/images/img-sample.jpg" alt="Duotone image of McMaster University Campus">
          </div>
          <div class="card-body">
               <h3 class="card-title">Expense Reports</h3>
               <h4 class="card-subtitle">Just a link</h4>
               <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
               <span class="card-link">Card link</span>
          </div>
     </a>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Brighter World JS -->
    <script src="https://documents.mcmaster.ca/www/cdn/js/1.0/mcm-bw.js"></script>
  </body>
</html>
