<% include partials/header %>

<a href="/">landing</a>
<br>
<a href="/home">home</a>
<br>
<a href="/behindTheScenes/login">Login</a>
<br>
<a href="/behindTheScenes/expenseReport">Reimbursement Form</a>
<br>
<a href="#"></a>
<br>

<% include partials/footer %>
