<!DOCTYPE html>
<html>
    <head>
        <title>McMaster Baja Racing</title>
        <link rel="stylesheet" href="/stylesheets/landing.css" type="text/css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>

    <div id="landing-header">
      <a href="/home" class="btn btn-lg btn-success">GET DIRTY!</a>
    </div>

    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
    </ul>

<% include partials/footer %>
