<% const views = '../' %>
<%- include(views+'partials/header4'); %>

<div id="recruitment">

  <div class="banner-img">
    <img src="https://res.cloudinary.com/dkvqve4ln/image/upload/v1568062841/general/mountain-826114_1280_oh3iph.jpg"  class="img-fluid" alt="">
  </div>
  
  <div class="py-2">
    <div class="jumbotron">
      <div class="container">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div id="a1" role="tablist" class="accordion extend-right0">

      <div class="card">
        <div class="card-header" role="tab" id="a1CollapseAheading">
          <h3 class="card-title">
            <a class="collapsed" data-toggle="collapse" href="#a1CollapseA" aria-expanded="false" aria-controls="a1CollapseA">
              <div class="container"><span></span>Sign Up</div>
            </a>
          </h3>
        </div>
        <div id="a1CollapseA" class="collapse" role="tabpanel" aria-labelledby="a1CollapseAheading" data-parent="#a1">
          <div class="card-body">
            <div class="container">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" role="tab" id="a1CollapseBheading">
          <h3 class="card-title">
            <a class="collapsed" data-toggle="collapse" href="#a1CollapseB" aria-expanded="false" aria-controls="a1CollapseB">
              <div class="container"><span></span>Reading and Basic Knowledge Quizzes</div>
            </a>
          </h3>
        </div>
        <div id="a1CollapseB" class="collapse" role="tabpanel" aria-labelledby="a1CollapseBheading" data-parent="#a1">
          <div class="card-body">
            <div class="container">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" role="tab" id="a1CollapseCheading">
          <h3 class="card-title">
            <a class="collapsed" data-toggle="collapse" href="#a1CollapseC" aria-expanded="false" aria-controls="a1CollapseC">
              <div class="container"><span></span>CAD or Code Exercises</div>
            </a>
          </h3>
        </div>
        <div id="a1CollapseC" class="collapse" role="tabpanel" aria-labelledby="a1CollapseCheading" data-parent="#a1">
          <div class="card-body">
            <div class="container">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" role="tab" id="a1CollapseDheading">
          <h3 class="card-title">
            <a class="collapsed" data-toggle="collapse" href="#a1CollapseD" aria-expanded="false" aria-controls="a1CollapseD">
              <div class="container"><span></span>Member Questionaire</div>
            </a>
          </h3>
        </div>
        <div id="a1CollapseD" class="collapse" role="tabpanel" aria-labelledby="a1CollapseDheading" data-parent="#a1">
          <div class="card-body">
            <div class="container">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" role="tab" id="a1CollapseEheading">
          <h3 class="card-title">
            <a class="collapsed" data-toggle="collapse" href="#a1CollapseE" aria-expanded="false" aria-controls="a1CollapseE">
              <div class="container"><span></span>Shop Safety Training</div>
            </a>
          </h3>
        </div>
        <div id="a1CollapseE" class="collapse" role="tabpanel" aria-labelledby="a1CollapseEheading" data-parent="#a1">
          <div class="card-body">
            <div class="container">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<%- include(views+'partials/footer4'); %>
