.thumbnail img{
  width: 100%;
}

.thumbnail {
  padding: 0;
}

.delete-form{
  display: inline;
}

.ExpenseItems {
  margin: 2px;
}

.flash-message {
  /* padding-top: 4px; */
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* LUKA'S CSS */
.form-span {
  text-align: center;
  display: block;
}

.form-label-bg {
  font-size: 18px;
  vertical-align: middle;
  margin-left: 20px;
  margin-right: 20px;
}

.title-ls {
  text-align: center;
}

.image-responsive{
  width: 100%;
  object-fit: contain;
}
