.thumbnail img{
  width: 100%;
}

.thumbnail {
  padding: 0;
}

.delete-form{
  display: inline;
}

.ExpenseItems {
  margin: 2px;
}

.flash-message {
  /* padding-top: 4px; */
}

.form-span {
  text-align: center;
  display: block;
}

.form-label-bg {
  font-size: 18px;
  vertical-align: middle;
  margin-left: 20px;
  margin-right: 20px;
}
