/* EDIT */
#members_edit .container{
  margin-top: 20px;
  max-width: 60%;
}

#members_edit .image{
  margin: 20px auto;
}

/* INDEX */
#members_index a[href="#"]:hover{ /* Implies the cards are not a link */
    cursor: default;
}
