/* =========== HOME =========== */
#home .carousel-styles {
  width: 90%;
  height: 90%;
  margin: auto;
}

/* =========== RECRUITMENT =========== */
#recruitment .banner-img img{
  width: 100%;
}

/* =========== SPONSORS =========== */

/* =========== GALLERY =========== */
#gallery .gallery-modal-img {
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  object-fit: contain;
}

#gallery .modal-link:hover{
  cursor: pointer;
}

/* Turns of modal on mobile */
@media screen and (max-width: 768px){
  #exampleModalCenter {
    visibility: hidden;
    display: none;
  }
  .modal-backdrop{
    display:none;
  }
}

/* =========== ALBUMS =========== */
#albums .card-lg .card-title::after{
  display: none; /* Remove card title Underline */
}

#albums a:hover{
  text-decoration: none;
}
