/* =========== HOME =========== */
#home .carousel-styles {
  width: 90%;
  height: 90%;
  margin: auto;
}

#home {
  margin-top: 20px;
}

#home .col-lg-6.blog-post-preview {
  padding: 60px;
  background-color: #EFEFEF;
}

#home a:hover{
  text-decoration: none;
}
/* =========== POST =========== */
#post .container{
  margin-top: 40px;
  margin-left: 120px;
  margin-right: 120px;
}

#post h1{
  margin-bottom: 10px;
}

/* =========== RECRUITMENT =========== */
#recruitment .banner-img img{
  width: 100%;
}

/* =========== SPONSORS =========== */

/* =========== PHOTOS =========== */
#photos .gallery-modal-img {
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  object-fit: contain;
}

#photos .modal-link:hover{
  cursor: pointer;
}

/* Turns of modal on mobile */
@media screen and (max-width: 768px){
  #exampleModalCenter {
    visibility: hidden;
    display: none;
  }
  .modal-backdrop{
    display:none;
  }
}

/* =========== GALLERY =========== */
#gallery .card-lg .card-title::after{
  display: none; /* Remove card title Underline */
}

#gallery a:hover{
  text-decoration: none; /* Remvoes underline on hover */
}

#gallery div.card-lg.card-background{
  /* Makes folder cards smaller */
  min-height: auto;
}

@media (max-width:767px){
  #gallery div.card-lg.card-background{
    /* Makes folder cards look better on mobile */
    min-height: 372px;
  }
}

/* =========== MEMBERS =========== */
#members_index img.card-img{
  /* display: none; */
  z-index: 1;
  filter: drop-shadow(16px 16px 10px black) opacity(40%);
}

#members_index div.icon-circle{
  /* display: none; */
  z-index: 2;
  margin-top: 12px;
  width: 160px;
}
