<%include ../partials/header%>

<div class="container">

  <header class="jumbotron">
    <div class="container">
      <h1>Welcome to McMaster Baja Racing!</h1>
      <p>
        <a class="btn btn-primary btn-lg" href="/expenseReports/new">Add a new Expense Report</a>
      </p>
    </div>
  </header>





</div>

<%include ../partials/footer%>
